body {
    background-color: black;
    
}

#mainbox {
    width: 700px;
    height: 530px;
    border: 1px thin black;
    float: left;
    /* display: flex; */
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-left: 260px;
    background-image: url("drumset.jpg");
    background-size: cover;
}


#soundbox1 {
    width: 100px;
    position: relative;
    left: 500px;
    top: 275px;
    height: 100px;
    border-radius: 50%;
    

}

#soundbox2 {
    width: 100px;
    height: 100px;
    left: 540px;
    bottom: 13px;
    position: relative;

}

#soundbox3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    left: 140px;
    bottom: 166px;
    
}

#soundbox4 {
    width: 100px;
    height: 100px;
    position: relative;
    left: 325px;
    top: 40px;

}

#soundbox5 {
    width: 100px;
    height: 100px;
    position: relative;
    left: 220px;
    bottom: 253px;
}


p {
    color: black;
    font-family: Comic Sans MS;
    

}

.soundbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: white;
    font-family: Comic Sans MS;
    margin-left: 430px;
}
    